<!-- <footer class="py-5 bg-main-light">
    <h3 class="px-5">Get the FreshCart app</h3>
    <p class="px-5">We will send you a link, open it on your phone to download the app</p>
    <div class="row gx-0 border-bottom border-black border-opacity-25 container pb-3 mx-auto">
        <div class="col-md-9">
            <div class="inner">
                <input type="text" class="form-control" placeholder="Email...">
            </div>
        </div>
        <div class="col-md-3">
            <div class="inner">
                <button class="btn">Share App Link</button>
            </div>
        </div>
    </div>
    <div class="payment container mx-auto  d-flex justify-content-between border-bottom border-black border-opacity-25">
        <div class="left-side d-flex gap-3 align-items-center">
            <h5>Payment Partners</h5>
            <img src="../../assets/images/Amazon-Pay-logo.svg" alt="">
            <img src="../../assets/images/mastercard_logo.svg__3.png" alt="">
            <img src="../../assets/images/PayPal-Logo.png" alt="">
        </div>
        <div class="right-side d-flex align-items-center">
            <h5>Get deliveries with FreshCart</h5>
            <img src="../../assets/images/Logo Available_on_the_App_Store.png" alt="">
            <img src="../../assets/images/get-it-on-google-play.png" alt="">
        </div>
    </div>
</footer> -->




<footer class="py-5 bg-main-light">
    <div class="container">
        <h3>Get the FreshCart app</h3>
        <p>We will send you a link, open it on your phone to download the app</p>
    </div>
    <div class="row gx-0">
        <div class="col-md-12">
            <div class="row  border-bottom border-black border-opacity-25 container pb-3 mx-auto">
                <div class="col-md-9">
                    <div class="inner">
                        <input type="text" class="form-control" placeholder="Email...">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="inner2">
                        <button class="btn">Share App Link</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="payment container mx-auto  row border-bottom border-black border-opacity-25">
                <div class="left-side d-flex gap-3 align-items-center col-md-6">
                    <h5>Payment Partners</h5>
                    <img src="./assets/images/Amazon-Pay-logo.svg" alt="">
                    <img src="./assets/images/mastercard_logo.svg__3.png" alt="">
                    <img src="./assets/images/PayPal-Logo.png" alt="">
                </div>
                <div class="right-side d-flex align-items-center col-md-6">
                    <h5>Get deliveries with FreshCart</h5>
                    <img src="./assets/images/Logo Available_on_the_App_Store.png" alt="">
                    <img src="./assets/images/get-it-on-google-play.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 last">
            <p class="text-center text-muted">©2024 Muhannad Amr All Rights Reserved</p>
        </div>
    </div>
</footer>