<nav class="navbar navbar-expand-lg bg-body-tertiary position-fixed top-0 start-0 end-0">
    <div class="container-fluid px-5">
      <img src="./assets/images/freshcart-logo.svg" alt="">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex justify-content-between w-100">
        <div class="inner-links">
            <ul *ngIf="isLogin" class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" routerLink="home" routerLinkActive="border-main">Home</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="cart" routerLinkActive="border-bottom border-dark" >Cart</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" routerLink="products" routerLinkActive="border-main" >Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="categories" routerLinkActive="border-main" >Categories</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="brands" routerLinkActive="border-main" >Brands</a>
                </li>
              </ul>
        </div>
        <div class="right-side d-flex gap-lg-4">
            <div class="icons d-flex justify-content-center align-items-center gap-3">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-tiktok"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-youtube"></i>
                <div class="orders ms-4">
                  <i *ngIf="isLogin" routerLink="whishlist" class="fa-solid fa-heart me-4 text-danger position-relative">
                    <span class="position-absolute start-100 bottom-50">{{wishListNumNav}}</span>
                  </i>
                  <i *ngIf="isLogin" routerLink="cart" class="fa-solid fa-cart-shopping me-3 text-main position-relative">
                    <span class="position-absolute start-100 bottom-50">{{cartItemNumNav}}</span>
                  </i>
                </div>
            </div>
            <div class="buttons d-flex justify-content-center gap-3">
                <!-- <a *ngIf="!isLogin" class="nav-link" routerLink="login">Login</a> -->
                <!-- <a *ngIf="!isLogin" class="nav-link" routerLink="register">Register</a> -->
                <!-- <a *ngIf="isLogin" (click)="lououtMethod()" class="nav-link cursor-pointer">Logout</a> -->
                <!-- <a *ngIf="isLogin" class="nav-link cursor-pointer" routerLink="setting">Setting</a> -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" *ngIf="isLogin" (click)="lououtMethod()" class="nav-link cursor-pointer">Logout</a>
                  </li>
                  <li>
                    <a *ngIf="!isLogin" class="nav-link" routerLink="login">Login</a>
                  </li>
                  <li>
                    <a *ngIf="!isLogin" class="nav-link" routerLink="register">Register</a>
                  </li>
                </ul>
            </div>
        </div>
      </div>
      </div>
    </div>
  </nav>