.inner {
    border: 1px solid #0aad0a;
    padding: 10px;
    border-radius: 5px;

}

section {
    width: 95%;
    margin: auto;
}

.inner {
    overflow: hidden;
}

.cardS img {
    transition: all 0.4s;
}

.cardS :hover img {
    transform: scale(1.1);
}

.cardS .carD:hover {
    transition: all 0.3s;
}

.cardS:hover > .carD:not(:hover){
    filter: blur(3px);
    transform: scale(0.9, 0.9);
}