.inner{
    border: 1px solid #0aad0a;
    padding: 10px;
    border-radius: 5px;
    
}
section{
    width: 95%;
    margin: auto;
}
.inner{
    overflow: hidden;
}
.show img{
    transition: all 0.4s;
}
.show :hover img{
    transform: scale(1.1);
}