<section id="home" class="py-5">
    <div class="container">
        <!-- slider -->
        <div class="row g-0">
            <div class="col-md-9">
                <!-- <owl-carousel-o [options]="customOptions">

                    <ng-container *ngFor="let image of allProduct">
                        <ng-template carouselSlide>
                            <img height="400" class="w-100" [src]="image?.imageCover">
                        </ng-template>
                    </ng-container>

                </owl-carousel-o> -->
                <owl-carousel-o [options]="customOptionsN">
                    <ng-template carouselSlide><img height="400" class="w-100" src="../../assets/images/slider-image-1.jpeg" alt=""></ng-template>  
                    <ng-template carouselSlide><img height="400" class="w-100" src="../../assets/images/slider-image-2.jpeg" alt=""></ng-template>  
                    <ng-template carouselSlide><img height="400" class="w-100" src="../../assets/images/slider-image-3.jpeg" alt=""></ng-template>  
                  </owl-carousel-o>

            </div>
            <div class="col-md-3">
                <img class="w-100" height="200" src="../../assets/images/grocery-banner.png" alt="">
                <img class="w-100" height="200" src="../../assets/images/grocery-banner-2.jpeg" alt="">
            </div>
        </div>
        <div class="pt-4">
            <owl-carousel-o [options]="customOptions">

                <ng-container *ngFor="let cat of allCategoriesData">
                  <ng-template carouselSlide>
                    <img [src]="cat?.image" class="w-100" height="300">
                  </ng-template>
                </ng-container>
            
              </owl-carousel-o>
        </div>
        <!-- all product -->
        <input type="text" [(ngModel)]="userWord" class="form-control w-75 mx-auto my-5 shadow-sm" placeholder="Search">

        <div class="row">
            <div *ngFor="let product of allProduct | search:userWord" class="col-md-2">
                <div class="product">
                    <div [routerLink]="['/productDetails', product._id]" class="inner-card container cursor-pointer">
                        <img class="img-fluid" [src]="product?.imageCover" alt="">
                        <p class="text-main">{{product?.category?.name}}</p>
                        <h1 class="h5 fw-bold">{{product?.title?.split(" ")?.slice(0,2)?.join(" ")}}</h1>
                        <div class="d-flex justify-content-between">
                            <span>{{product?.price}} EGP</span>
                            <span><i class="fa-solid fa-star rating-color"></i> {{product?.ratingsAverage}}</span>
                        </div>
                    </div>
                    <div class="wishIcon w-100 text-end container mt-2">
                        <i *ngIf="!allWishListData.includes($any(product?._id))" (click)="addProductWishList(product?._id)" class="fa-regular fa-heart fa-2x cursor-pointer"></i>
                        <i *ngIf="allWishListData.includes($any(product?._id))" (click)="removeProductWishList(product?._id)" class="fa-solid fa-heart text-danger fa-2x cursor-pointer"></i>
                    </div>
                    <button (click)="addProductBtn(product?._id)" class="btn bg-main text-white d-block w-100">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
</section>